<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello user</title>
</head>
<body>
<h1 th:inline="text">Hello, <span th:text="${name}"/>!</h1>
<form action="#" th:action="@{'/orders'}" th:method="get" >
    <div><input type="submit" id="submitButton" value="Show Your Orders"/></div>
</form>
</body>
</html>