<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Orders</title>
</head>
<body>
<h1 th:inline="text">Order# <span th:text="${orderId}"/></h1>
<div>Cost of order = <span th:text="${cost}"/></div>
<table>
    <tr>
        <th>Good#</th>
        <th>Name</th>
        <th>Cost</th>
    </tr>
    <tr th:each="good : ${goods}">
        <td><span th:text="${good.id}"/></td>
        <td><span th:text="${good.name}"/></td>
        <td><span th:text="${good.cost}"/></td>
    </tr>
</table>
<form action="#" th:action="@{'/addGood'}" th:method="get" >
    <div><label> Good# <input type="text" name="goodId"/> </label></div>
    <div><label><input type="hidden" name="orderId" th:value="${orderId}"/> </label></div>
    <div><input type="submit" id="submitButton" value="Add New Good"/></div>
</form>
<form action="#" th:action="@{'/deleteGood'}" th:method="get" >
    <div><label> Good# <input type="text" name="goodId"/> </label></div>
    <div><label><input type="hidden" name="orderId" th:value="${orderId}"/> </label></div>
    <div><input type="submit" id="submitButton2" value="Delete Good"/></div>
</form>
<form action="#" th:action="@{'/billing'}" th:method="get" >
    <div><label><input type="hidden" name="orderId" th:value="${orderId}"/> </label></div>
    <div><input type="submit" id="submitButton3" value="Bill Order"/></div>
</form>
</body>
</html>